In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv

In [19]:
df = pd.read_csv("timein.csv")
df

         Date Day of Week  Time  Temp (F)
0   1/09/2018     Tuesday  9:07      23.0
1   1/10/2018   Wednesday  8:58      21.0
2   1/11/2018    Thursday  9:00      39.0
3   1/12/2018      Friday  9:18      62.0
4   1/15/2018      Monday  8:09      22.0
5   1/16/2018     Tuesday  8:49      29.0
6   1/17/2018   Wednesday  8:56      33.0
7   1/18/2018    Thursday  9:16      20.0
8   1/19/2018      Friday  9:01      21.0
9   1/22/2018      Monday  8:29      43.0
10  1/23/2018     Tuesday  8:25      56.0
11  1/24/2018   Wednesday  8:42       NaN
12  1/26/2018      Friday  8:20      19.0
13  1/29/2018      Monday  8:53      39.0
14  1/30/2018     Tuesday  8:41      32.0
15  1/31/2018   Wednesday  9:14      20.0
16  2/01/2018    Thursday  9:15      31.0
17  2/02/2018      Friday  8:47      29.0
18  2/05/2018      Monday  8:21      34.0
19  2/06/2018     Tuesday  9:02      30.0
20  2/07/2018   Wednesday  8:58      33.0
21  2/08/2018    Thursday  9:10      27.0
22  2/13/2018     Tuesday  8:13      27.0
23  2/14/2018   Wednesday  8:41      37.0
24  2/15/2018    Thursday  8:29      47.0
25  2/16/2018      Friday  8:27      54.0
26  2/20/2018     Tuesday  8:45      53.0
27  2/22/2018    Thursday  8:53      47.0
28  2/23/2018      Friday  9:10      37.0
29  2/26/2018      Monday  8:19      45.0
30  2/27/2018     Tuesday  8:31      35.0
31  2/28/2018   Wednesday  8:53      45.0

In [4]:
dts = {}
rtimes = ["8:00", "8:20", "8:40", "9:00", "9:20"]
ntimes = [int(e[0])*3600+int(e[2:])*60 for e in rtimes]
for index, row in df.iterrows():
    print(row)
    date = row["Date"]
    time = row["Time"]
    sec = int(time[0])*3600+int(time[2:])*60
    ntimes.append(sec)
    dts[date] = sec
dts

Date           1/9/2018
Day of Week     Tuesday
Time               9:07
Temp (F)             23
Name: 0, dtype: object
Date           1/10/2018
Day of Week    Wednesday
Time                8:58
Temp (F)              21
Name: 1, dtype: object
Date           1/11/2018
Day of Week     Thursday
Time                9:00
Temp (F)              39
Name: 2, dtype: object
Date           1/12/2018
Day of Week       Friday
Time                9:18
Temp (F)              62
Name: 3, dtype: object
Date           1/15/2018
Day of Week       Monday
Time                8:09
Temp (F)              22
Name: 4, dtype: object
Date           1/16/2018
Day of Week      Tuesday
Time                8:49
Temp (F)              29
Name: 5, dtype: object
Date           1/17/2018
Day of Week    Wednesday
Time                8:56
Temp (F)              33
Name: 6, dtype: object
Date           1/18/2018
Day of Week     Thursday
Time                9:16
Temp (F)              20
Name: 7, dtype: object
Date           1/19/2018
Day of Week       Friday
Time                9:01
Temp (F)              21
Name: 8, dtype: object
Date           1/22/2018
Day of Week       Monday
Time                8:29
Temp (F)              43
Name: 9, dtype: object
Date           1/23/2018
Day of Week      Tuesday
Time                8:25
Temp (F)              56
Name: 10, dtype: object
Date           1/24/2018
Day of Week    Wednesday
Time                8:42
Temp (F)             NaN
Name: 11, dtype: object
Date           1/26/2018
Day of Week       Friday
Time                8:20
Temp (F)              19
Name: 12, dtype: object
Date           1/29/2018
Day of Week       Monday
Time                8:53
Temp (F)              39
Name: 13, dtype: object
Date           1/30/2018
Day of Week      Tuesday
Time                8:41
Temp (F)              32
Name: 14, dtype: object
Date           1/31/2018
Day of Week    Wednesday
Time                9:14
Temp (F)              20
Name: 15, dtype: object
Date           2/1/2018
Day of Week    Thursday
Time               9:15
Temp (F)             31
Name: 16, dtype: object
Date           2/2/2018
Day of Week      Friday
Time               8:47
Temp (F)             29
Name: 17, dtype: object
Date           2/5/2018
Day of Week      Monday
Time               8:21
Temp (F)             34
Name: 18, dtype: object
Date           2/6/2018
Day of Week     Tuesday
Time               9:02
Temp (F)             30
Name: 19, dtype: object
Date            2/7/2018
Day of Week    Wednesday
Time                8:58
Temp (F)              33
Name: 20, dtype: object
Date           2/8/2018
Day of Week    Thursday
Time               9:10
Temp (F)             27
Name: 21, dtype: object

{'1/10/2018': 32280,
 '1/11/2018': 32400,
 '1/12/2018': 33480,
 '1/15/2018': 29340,
 '1/16/2018': 31740,
 '1/17/2018': 32160,
 '1/18/2018': 33360,
 '1/19/2018': 32460,
 '1/22/2018': 30540,
 '1/23/2018': 30300,
 '1/24/2018': 31320,
 '1/26/2018': 30000,
 '1/29/2018': 31980,
 '1/30/2018': 31260,
 '1/31/2018': 33240,
 '1/9/2018': 32820,
 '2/1/2018': 33300,
 '2/2/2018': 31620,
 '2/5/2018': 30060,
 '2/6/2018': 32520,
 '2/7/2018': 32280,
 '2/8/2018': 33000}

In [35]:
xs = np.arange(len(dts))
dates = [e for e in dts.keys()]
len_dates = len(dates)
times = [e for e in dts.values()]
interv = len(dates)/5-.1
k = 0
ndates = []
newmarks = []
while k < len_dates:
    newmarks.append(int(k))
    ndates.append(dates[int(k)])
    k+=interv
    print(k)
plt.plot(xs, [e for e in dts.values()])
# plt.locator_params(axis='x', nticks=6)
plt.xticks(newmarks, ndates, rotation = 25)
plt.yticks(ntimes, rtimes)
plt.tight_layout
# plt.show()
plt.savefig("graph.png")

4.300000000000001
8.600000000000001
12.900000000000002
17.200000000000003
21.500000000000004
25.800000000000004

In [26]:
rdr= csv.reader(open("timein.csv", "r" ) )
csv_data = [ row for row in rdr ]
csv_data

[['Date', 'Day of Week', 'Time', 'Temp (F)'],
 ['1/9/2018', 'Tuesday', '9:07', '23'],
 ['1/10/2018', 'Wednesday', '8:58', '21'],
 ['1/11/2018', 'Thursday', '9:00', '39'],
 ['1/12/2018', 'Friday', '9:18', '62'],
 ['1/15/2018', 'Monday', '8:09', '22'],
 ['1/16/2018', 'Tuesday', '8:49', '29'],
 ['1/17/2018', 'Wednesday', '8:56', '33'],
 ['1/18/2018', 'Thursday', '9:16', '20'],
 ['1/19/2018', 'Friday', '9:01', '21'],
 ['1/22/2018', 'Monday', '8:29', '43'],
 ['1/23/2018', 'Tuesday', '8:25', '56'],
 ['1/24/2018', 'Wednesday', '8:42', ''],
 ['1/26/2018', 'Friday', '8:20', '19'],
 ['1/29/2018', 'Monday', '8:53', '39'],
 ['1/30/2018', 'Tuesday', '8:41', '32'],
 ['1/31/2018', 'Wednesday', '9:14', '20'],
 ['2/1/2018', 'Thursday', '9:15', '31'],
 ['2/2/2018', 'Friday', '8:47', '29'],
 ['2/5/2018', 'Monday', '8:21', '34'],
 ['2/6/2018', 'Tuesday', '9:02', '30'],
 ['2/7/2018', 'Wednesday', '8:58', '33'],
 ['2/8/2018', 'Thursday', '9:10', '27']]

In [12]:
rdr= csv.reader(open("timein.csv", "r" ) )
csv_data = [ row for row in rdr ]
totsec = 0
for row in csv_data:
    if row[2]=="Time":
        continue
    time = row[2]
    totsec = totsec + int(time[0])*3600+int(time[2:])*60
new = totsec/(len(csv_data)-1)
hr = str(new/3600)[0]
minu = str((new-int(hr)*3600)/60)
minu = minu[:minu.find(".")]
avg = hr+":"+minu
avg

'8:51'

In [10]:
for row in csv_data:
    print(row)
    if row[2]=="Time":
        continue

['Date', 'Day of Week', 'Time', 'Temp (F)']
['1/9/2018', 'Tuesday', '9:07', '23']
['1/10/2018', 'Wednesday', '8:58', '21']
['1/11/2018', 'Thursday', '9:00', '39']
['1/12/2018', 'Friday', '9:18', '62']
['1/15/2018', 'Monday', '8:09', '22']
['1/16/2018', 'Tuesday', '8:49', '29']
['1/17/2018', 'Wednesday', '8:56', '33']
['1/18/2018', 'Thursday', '9:16', '20']
['1/19/2018', 'Friday', '9:01', '21']
['1/22/2018', 'Monday', '8:29', '43']
['1/23/2018', 'Tuesday', '8:25', '56']
['1/24/2018', 'Wednesday', '8:42', '']
['1/26/2018', 'Friday', '8:20', '19']
['1/29/2018', 'Monday', '8:53', '39']
['1/30/2018', 'Tuesday', '8:41', '32']
['1/31/2018', 'Wednesday', '9:14', '20']
['2/1/2018', 'Thursday', '9:15', '31']
['2/2/2018', 'Friday', '8:47', '29']
['2/5/2018', 'Monday', '8:21', '34']
['2/6/2018', 'Tuesday', '9:02', '30']
['2/7/2018', 'Wednesday', '8:58', '33']
['2/8/2018', 'Thursday', '9:10', '27']
[]

IndexError: list index out of range

In [13]:
eachday={}
eachday["Monday"],eachday["Monday"] = "", ""

In [16]:
tt = df.loc[df["Day of Week"] == "Monday"]
for index, row in tt.iterrows():
    print(row["Time"])

8:09
8:29
8:53
8:21
8:19

In [21]:
sec = 0
totsec = 0
eachday = {}
daydiff = {}
weekdiff = {}
upavg = 0
eachday["Monday"],eachday["Tuesday"],eachday["Wednesday"],eachday["Thursday"],eachday["Friday"]= 0,0,0,0,0
for day in eachday:
    tt = df.loc[df["Day of Week"] == day]
    count = 0
    upavg = 0
    totsec2 = 0
    for index, row in tt.iterrows():
        count += 1
        date = row["Date"]
        time = row["Time"]
        sec = int(time[0])*3600+int(time[2:])*60
        totsec2 += sec
        upavg = totsec2/count
        weekdiff[date] = (sec - upavg)/60
        eachday[day] += sec
    eachday[day] = eachday[day]/len(tt)

In [33]:
for e in daydiff:
    print(e, daydiff[e])

1/09/2018 0.0
1/10/2018 -4.5
1/11/2018 -1.6666666666666667
1/12/2018 12.25
1/15/2018 -45.4
1/16/2018 -4.5
1/17/2018 2.1428571428571255
1/18/2018 19.375
1/19/2018 3.888888888888869
1/22/2018 -25.3
1/23/2018 -26.636363636363665
1/24/2018 -8.833333333333334
1/26/2018 -28.461538461538474
1/29/2018 4.214285714285689
1/30/2018 -7.266666666666667
1/31/2018 24.125
2/01/2018 23.64705882352943
2/02/2018 -4.111111111111131
2/05/2018 -28.526315789473664
2/06/2018 11.85
2/07/2018 7.4761904761904585
2/08/2018 18.59090909090907
2/13/2018 -36.7391304347826
2/14/2018 -8.375
2/15/2018 -19.559999999999977
2/16/2018 -20.73076923076921
2/20/2018 -2.629629629629623
2/22/2018 5.178571428571437
2/23/2018 21.41379310344825
2/26/2018 -28.6
2/27/2018 -16.06451612903226
2/28/2018 5.75

In [32]:
for e in weekdiff:
    print(e, weekdiff[e])

1/15/2018 0.0
1/22/2018 10.0
1/29/2018 22.666666666666668
2/05/2018 -7.0
2/26/2018 -7.2
1/09/2018 0.0
1/16/2018 -9.0
1/23/2018 -22.0
1/30/2018 -4.5
2/06/2018 13.2
2/13/2018 -29.833333333333332
2/20/2018 1.8571428571428745
2/27/2018 -10.625
1/10/2018 0.0
1/17/2018 -1.0
1/24/2018 -10.0
1/31/2018 16.5
2/07/2018 0.4
2/14/2018 -13.833333333333334
2/28/2018 -1.5714285714285627
1/11/2018 0.0
1/18/2018 8.0
2/01/2018 4.666666666666667
2/08/2018 -0.25
2/15/2018 -33.0
2/22/2018 -7.5
1/12/2018 0.0
1/19/2018 -8.5
1/26/2018 -33.0
2/02/2018 -4.5
2/16/2018 -19.6
2/23/2018 19.5

In [27]:
dts = {}
for index, row in df.iterrows():
    date = row["Date"]
    time = row["Time"]
    sec = int(time[0])*3600+int(time[2:])*60
    totsec += sec
    daydiff[date] = 0
    upavg = totsec/len(daydiff)
    daydiff[date] = (sec - upavg)/60
    dts[date] = sec

In [10]:
dts

{'1/10/2018': 32280,
 '1/11/2018': 32400,
 '1/12/2018': 33480,
 '1/15/2018': 29340,
 '1/16/2018': 31740,
 '1/17/2018': 32160,
 '1/18/2018': 33360,
 '1/19/2018': 32460,
 '1/22/2018': 30540,
 '1/23/2018': 30300,
 '1/24/2018': 31320,
 '1/26/2018': 30000,
 '1/29/2018': 31980,
 '1/30/2018': 31260,
 '1/31/2018': 33240,
 '1/9/2018': 32820,
 '2/1/2018': 33300,
 '2/13/2018': 29580,
 '2/14/2018': 31260,
 '2/15/2018': 30540,
 '2/16/2018': 30420,
 '2/2/2018': 31620,
 '2/20/2018': 31500,
 '2/22/2018': 31980,
 '2/23/2018': 33000,
 '2/26/2018': 29940,
 '2/27/2018': 30660,
 '2/28/2018': 31980,
 '2/5/2018': 30060,
 '2/6/2018': 32520,
 '2/7/2018': 32280,
 '2/8/2018': 33000}

In [29]:

daydiff

{'1/09/2018': 0.0,
 '1/10/2018': -4.5,
 '1/11/2018': -1.6666666666666667,
 '1/12/2018': 12.25,
 '1/15/2018': -45.4,
 '1/16/2018': -4.5,
 '1/17/2018': 2.1428571428571255,
 '1/18/2018': 19.375,
 '1/19/2018': 3.888888888888869,
 '1/22/2018': -25.3,
 '1/23/2018': -26.636363636363665,
 '1/24/2018': -8.833333333333334,
 '1/26/2018': -28.461538461538474,
 '1/29/2018': 4.214285714285689,
 '1/30/2018': -7.266666666666667,
 '1/31/2018': 24.125,
 '2/01/2018': 23.64705882352943,
 '2/02/2018': -4.111111111111131,
 '2/05/2018': -28.526315789473664,
 '2/06/2018': 11.85,
 '2/07/2018': 7.4761904761904585,
 '2/08/2018': 18.59090909090907,
 '2/13/2018': -36.7391304347826,
 '2/14/2018': -8.375,
 '2/15/2018': -19.559999999999977,
 '2/16/2018': -20.73076923076921,
 '2/20/2018': -2.629629629629623,
 '2/22/2018': 5.178571428571437,
 '2/23/2018': 21.41379310344825,
 '2/26/2018': -28.6,
 '2/27/2018': -16.06451612903226,
 '2/28/2018': 5.75}

In [36]:
newweek = {}
dates = [e for e in dts.keys()]
for e in dates:
    for f in weekdiff:
        if e == f:
            newweek[f] = weekdiff[f]
[e for e in newweek.values()]

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -9.0,
 -1.0,
 8.0,
 -8.5,
 10.0,
 -22.0,
 -10.0,
 -33.0,
 22.666666666666668,
 -4.5,
 16.5,
 4.666666666666667,
 -4.5,
 -7.0,
 13.2,
 0.4,
 -0.25,
 -29.833333333333332,
 -13.833333333333334,
 -33.0,
 -19.6,
 1.8571428571428745,
 -7.5,
 19.5,
 -7.2,
 -10.625,
 -1.5714285714285627]