In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv

In [3]:
df = pd.read_csv("timein.csv")
df

         Date Day of Week  Time  Temp (F)
0    1/9/2018     Tuesday  9:07      23.0
1   1/10/2018   Wednesday  8:58      21.0
2   1/11/2018    Thursday  9:00      39.0
3   1/12/2018      Friday  9:18      62.0
4   1/15/2018      Monday  8:09      22.0
5   1/16/2018     Tuesday  8:49      29.0
6   1/17/2018   Wednesday  8:56      33.0
7   1/18/2018    Thursday  9:16      20.0
8   1/19/2018      Friday  9:01      21.0
9   1/22/2018      Monday  8:29      43.0
10  1/23/2018     Tuesday  8:25      56.0
11  1/24/2018   Wednesday  8:42       NaN
12  1/26/2018      Friday  8:20      19.0
13  1/29/2018      Monday  8:53      39.0
14  1/30/2018     Tuesday  8:41      32.0
15  1/31/2018   Wednesday  9:14      20.0
16   2/1/2018    Thursday  9:15      31.0
17   2/2/2018      Friday  8:47      29.0
18   2/5/2018      Monday  8:21      34.0
19   2/6/2018     Tuesday  9:02      30.0
20   2/7/2018   Wednesday  8:58      33.0
21   2/8/2018    Thursday  9:10      27.0

In [17]:
dts = {}
rtimes = ["8:00", "8:20", "8:40", "9:00", "9:20"]
ntimes = [int(e[0])*3600+int(e[2:])*60 for e in rtimes]
for index, row in df.iterrows():
    date = row["Date"]
    time = row["Time"]
    sec = int(time[0])*3600+int(time[2:])*60
    ntimes.append(sec)
    dts[date] = sec
dts

{'1/10/2018': 32280,
 '1/11/2018': 32400,
 '1/12/2018': 33480,
 '1/15/2018': 29340,
 '1/16/2018': 31740,
 '1/17/2018': 32160,
 '1/18/2018': 33360,
 '1/19/2018': 32460,
 '1/22/2018': 30540,
 '1/23/2018': 30300,
 '1/24/2018': 31320,
 '1/26/2018': 30000,
 '1/29/2018': 31980,
 '1/30/2018': 31260,
 '1/31/2018': 33240,
 '1/9/2018': 32820,
 '2/1/2018': 33300,
 '2/2/2018': 31620,
 '2/5/2018': 30060,
 '2/6/2018': 32520,
 '2/7/2018': 32280,
 '2/8/2018': 33000}

In [35]:
xs = np.arange(len(dts))
dates = [e for e in dts.keys()]
len_dates = len(dates)
times = [e for e in dts.values()]
interv = len(dates)/5-.1
k = 0
ndates = []
newmarks = []
while k < len_dates:
    newmarks.append(int(k))
    ndates.append(dates[int(k)])
    k+=interv
    print(k)
plt.plot(xs, [e for e in dts.values()])
# plt.locator_params(axis='x', nticks=6)
plt.xticks(newmarks, ndates, rotation = 25)
plt.yticks(ntimes, rtimes)
plt.tight_layout
# plt.show()
plt.savefig("graph.png")

4.300000000000001
8.600000000000001
12.900000000000002
17.200000000000003
21.500000000000004
25.800000000000004

In [26]:
rdr= csv.reader(open("timein.csv", "r" ) )
csv_data = [ row for row in rdr ]
csv_data

[['Date', 'Day of Week', 'Time', 'Temp (F)'],
 ['1/9/2018', 'Tuesday', '9:07', '23'],
 ['1/10/2018', 'Wednesday', '8:58', '21'],
 ['1/11/2018', 'Thursday', '9:00', '39'],
 ['1/12/2018', 'Friday', '9:18', '62'],
 ['1/15/2018', 'Monday', '8:09', '22'],
 ['1/16/2018', 'Tuesday', '8:49', '29'],
 ['1/17/2018', 'Wednesday', '8:56', '33'],
 ['1/18/2018', 'Thursday', '9:16', '20'],
 ['1/19/2018', 'Friday', '9:01', '21'],
 ['1/22/2018', 'Monday', '8:29', '43'],
 ['1/23/2018', 'Tuesday', '8:25', '56'],
 ['1/24/2018', 'Wednesday', '8:42', ''],
 ['1/26/2018', 'Friday', '8:20', '19'],
 ['1/29/2018', 'Monday', '8:53', '39'],
 ['1/30/2018', 'Tuesday', '8:41', '32'],
 ['1/31/2018', 'Wednesday', '9:14', '20'],
 ['2/1/2018', 'Thursday', '9:15', '31'],
 ['2/2/2018', 'Friday', '8:47', '29'],
 ['2/5/2018', 'Monday', '8:21', '34'],
 ['2/6/2018', 'Tuesday', '9:02', '30'],
 ['2/7/2018', 'Wednesday', '8:58', '33'],
 ['2/8/2018', 'Thursday', '9:10', '27']]